<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beifeng.ae.model.KpiDimension">
    <resultMap type="com.beifeng.ae.model.KpiDimension" id="kpiMapper">
        <id column="id" property="id"/>
        <result column="kpi_name" property="kpiName" />
    </resultMap>
    
    <select id="getKpiDimension" parameterType="com.beifeng.ae.model.KpiDimension" resultMap="kpiMapper">
          SELECT id,kpi_name FROM dimension_kpi
          <where>
             <if test="id != 0">
                 id = #{id}
             </if>
             <if test="kpiName != null and kpiName != ''">
                AND kpi_name = #{kpiName}
             </if>
          </where>
     </select>
</mapper>